html,body { height: 100%; margin: 0px; padding: 0px; }

a { cursor: pointer; }

.navbar .divider-vertical {
	height: 50px;
	margin: 0 9px;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
	border-right-color: #222222;
	border-left-color: #111111;
}

@media (max-width: 767px) {
	.navbar-collapse .nav > .divider-vertical {
		display: none;
	}
}

.navbar li > a {
	font-weight: bold;
}

#login {
	margin: 150px auto;
	height: 200px;
	width: 450px;
	background: #eee;
	border: 1px dotted #aaa;
	position: relative;
}
#login > h1 {
	padding: 0;
	margin: 0;
	text-align: center;
	border-bottom: 1px solid #444;
	font-size: 32px;
	background: #ddd;
}
#login > p {
	padding: 10px;
}
#login > center {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 50px; left: 0;
}

#newuser {
	margin: 150px auto;
	width: 450px;
	background: #eee;
	border: 1px dotted #aaa;
	position: relative;
}
#newuser > h1 {
	padding: 0;
	margin: 0;
	text-align: center;
	border-bottom: 1px solid #444;
	font-size: 32px;
	background: #ddd;
}
#newuser > p {
	padding: 10px;
}

#banned {
	margin: 150px auto;
	height: 200px;
	width: 450px;
	background: #eee;
	border: 1px dotted #aaa;
	position: relative;
}
#banned > h1 {
	padding: 0;
	margin: 0;
	text-align: center;
	border-bottom: 1px solid #444;
	font-size: 32px;
	background: #ddd;
}
#banned > p {
	padding: 10px;
}


#mrc-rightcol {
	padding: 50px 0 0 0;
	height: 100%;
}

#mrc-namearea {
	background: #eee;
	overflow-y: scroll;	
	padding:0; margin:0;
}

#mrc-namearea > h1 {
	margin: 0;
	padding: 5px 5px 5px 25px;
	font-size: 20px;
	position:relative;
	background: red;
}
#mrc-namearea > h1:hover {
	cursor: pointer;
}
#mrc-namearea > h1:before {
	position:absolute;
	font-family: FontAwesome;
	top: 5px; left: 5px;
	content: "\f198";	
}

#mrc-namearea > p {
	margin: 0;
	padding: 5px 5px 5px 25px;
	font-size: 14px;
	position:relative;
	color: #000;
}
#mrc-namearea > p:hover {
	cursor: pointer;
}
#mrc-namearea > p.mod {
	background: #ebebff;
}
#mrc-namearea > p:hover {
	background: #ddd;
}
#mrc-namearea > p.mod:before {
	position:absolute;
	font-family: FontAwesome;
	top: 5px; left: 5px;
	content: "@";	
}
#mrc-namearea > p.vip {
	background: #ecffeb;
}
#mrc-namearea > p.vip:before {
	position:absolute;
	font-family: FontAwesome;
	top: 4px; left: 8px;
	content: "+";	
}
#mrc-namearea > p.gue {
}
#mrc-namearea > p.usr {
}

#mrc-namearea > p.idle {
	color: #999;
}
#mrc-namearea > p.self {
	color: #0900ff;
}
#mrc-namearea > p.banned {
	color: #ffc600;
}



























#mrc-leftcol {
	padding: 50px 0 0 0;
	height: 100%;
	position: relative;
}

#mrc-chatarea {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	background: #fafafa;
	padding: 50px 0 40px 0;
	overflow-y: scroll;
	border-right: 1px solid #ccc;
}
#mrc-chatarea > p {
	margin: 0;
	padding: 5px;
}

#mrc-chatarea > p > .time {
	color: #999;
	font-size: 8px;
	font-weight: bold;
}

#mrc-chatarea > p > .name {
	font-weight: bold;
	cursor: pointer;
}
#mrc-chatarea > p > .self {
	font-weight: bold;
}
#mrc-chatarea > p > .name.gue {
	font-style: oblique;
}

#mrc-chatarea > .ops {
	color: #6666ff;
}

#mrc-chatarea > .vip {
	color: #9999ff;
}

#mrc-chatarea > .self {
	background: #eff;
}

#mrc-textarea {
	width: 100%;
	position: absolute;
	bottom: 0; left: 0;
	height: 40px;
}

.country {
    margin: 10px;
    padding: 4px 6px;
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    font-family: tahoma;
    font-size: 12px
}
.country i {
    background: url(https://dl.dropbox.com/u/3413283/flags.png) no-repeat;
    display: inline-block;
    width: 16px;
    height: 11px;
}

#mrc-chatarea > .join {
	color: #00cc00;
}
#mrc-chatarea > .myjoin {
	color: #009900;
}
#mrc-chatarea > .quit {
	color: #3333ff;
}
#mrc-chatarea > .myquit {
	color: #0000cc;
}

.bigModal > .modal-dialog {
    width: 70%;
}

div#ausers_filter {
	text-align: center;
}

div#ausers_filter > label {
	color: #369;
}

div#ausers_filter > label > input {
	margin-left: 20px;
	margin-bottom: 10px;
}

td.online {
	color: #0c0;
}
